*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.japones{
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #ffefff;
    /* background: linear-gradient(70deg, #fad3fc, #ebcef5); */
}
header{
        display: flex;
        flex-direction: column;   
    }
h1{
        text-align: center;
        font-size: 4rem;
        
    }
.header-title{
    margin: 50px 0px;
}
footer{
    background-color: rgb(33, 20, 83);
    display: grid;
    min-height: 20vh;
    grid-template-rows: auto 1fr auto;
}

h2{
    font-size: 3rem;
}
/*menu*/


.main-container{
    display: flex;
    border-radius: 50px; 
    flex-direction: column;
    margin-bottom: 30px;
    width: 90vw;
    height: 90vh;
    place-items: center;
    justify-content: center;
    justify-self: center;
    gap: 10px;
}


.option{
    border: 2px solid #fffcfc;   
    border-radius: 50px;
    background-color: papayawhip;
    text-align: center; 
}

.option h2{
    position: relative;
    top: 10px;
}

.logo-ig{
    width: 40px;
    gap: 40%;
}

ul{
    color: #fffcfc;
    gap: 10px;
    display: block;
    list-style-type: none;
    
}

.footer-info{
    font-size: 1.5rem;
    
}
li{
   position: relative;
    top: 40px;
    left: 40px;
}

@media (max-width: 720px) {
   .option{
        width: 90%;
        height: 50%;
   }
}



